In [1]:
import pandas as pd
import json

In [23]:
dt = pd.read_json("per_car3.json")

In [28]:
dt

       tp                  id  v      d  ts  gg  rs  c  rb   g      x      y
0      2P  20160118020119-534  1    2.1  19   2   6  1   2   8 -12.01 -11.46
1      2P  20155603045616-730  1    2.9  20   2   6  0   2  10 -24.93   3.06
2      2P  20150421010452-980  1    7.0  49  13  19  1   2  14 -51.92 -32.04
3      2P  20152621082611-901  1    2.9  19   3   6  0   2   8 -14.04  -5.74
4      2P    20155515095548-2  1    3.9  20   2   4  4   2   8 -10.16  -7.02
...    ..                 ... ..    ...  ..  ..  .. ..  ..  ..    ...    ...
18703   2  20154512084511-218  1  127.8  11   5   2  2   0   0   9.89 -65.14
18704   1  20164728034754-277  1    1.1   7   3   0  2   0   0  21.25 -21.73
18705   3  20153610123659-887  1   20.0  16   8   4  2   0   0 -42.65 -44.12
18706   4  20150428020445-289  1    0.6   4   2   0  0   0   0  -3.14 -44.45
18707   1   20154003074025-33  1    0.9   9   3   2  2   0   0 -40.05   0.68

[18708 rows x 12 columns]

In [66]:
passby = dt[dt.id.isin(['20161921071913-653', '20165522125532-244', '20154814054852-53'])][['id', 'tp', 'x', 'y']]

In [72]:
passby

                       id tp      x      y lbl    lx    ly
18057  20161921071913-653  1 -36.37  47.36   A -36.0  37.0
18232  20165522125532-244  1 -10.60  49.30   B  -5.0 -45.0
12630   20154814054852-53  3  10.80  69.42   C  20.0 -69.0

In [68]:
passby = passby.reindex([18057, 18232, 12630])

In [73]:
passby['lbl'] = ["A", "B", "C"]
passby['lx'] = [-36.0, -5.0, 20.0]
passby['ly'] = [37.0, 45.0, 69.0]

In [74]:
passby.to_json(orient = "records")

'[{"id":"20161921071913-653","tp":"1","x":-36.37,"y":47.36,"lbl":"A","lx":-36.0,"ly":37.0},{"id":"20165522125532-244","tp":"1","x":-10.6,"y":49.3,"lbl":"B","lx":-5.0,"ly":45.0},{"id":"20154814054852-53","tp":"3","x":10.8,"y":69.42,"lbl":"C","lx":20.0,"ly":69.0}]'

In [79]:
dayvisitor = dt[dt.id.isin(['20164728034754-277', '20150505080542-405', '20150328090306-30'])][['id', 'tp', 'x', 'y']]

In [81]:
dayvisitor = dayvisitor.reindex([18704, 16836, 17898])

In [82]:
dayvisitor['lbl'] = ["A", "B", "C"]
dayvisitor['lx'] = [22.41, 10.0, 7.0]
dayvisitor['ly'] = [-30.0, -5.0, -8.0]
dayvisitor.to_json(orient = "records")

'[{"id":"20164728034754-277","tp":"1","x":21.25,"y":-21.73,"lbl":"A","lx":22.41,"ly":-30.0},{"id":"20150505080542-405","tp":"1","x":8.84,"y":0.22,"lbl":"B","lx":10.0,"ly":-5.0},{"id":"20150328090306-30","tp":"1","x":6.34,"y":0.19,"lbl":"C","lx":7.0,"ly":-8.0}]'

In [ ]:
20154917054928-183

In [85]:
weekendcamper = dt[dt.id.isin(['20152610112615-740', '20153021073045-85', '20151624101641-279'])][['id', 'tp', 'x', 'y']]

In [86]:
weekendcamper

                       id tp      x      y
16202  20155313065344-641  1 -67.78  21.97
16952  20151624101641-279  3 -61.92  29.72
18586  20152610112615-740  1 -66.23   7.44

In [87]:
weekendcamper = weekendcamper.reindex([18586, 16202, 16952])

In [88]:
weekendcamper['lbl'] = ["A", "B", "C"]
weekendcamper['lx'] = weekendcamper['x'] - 7
weekendcamper['ly'] = weekendcamper['y']
weekendcamper.to_json(orient = "records")

'[{"id":"20152610112615-740","tp":"1","x":-66.23,"y":7.44,"lbl":"A","lx":-73.23,"ly":7.44},{"id":"20155313065344-641","tp":"1","x":-67.78,"y":21.97,"lbl":"B","lx":-74.78,"ly":21.97},{"id":"20151624101641-279","tp":"3","x":-61.92,"y":29.72,"lbl":"C","lx":-68.92,"ly":29.72}]'

In [85]:
longcamper = dt[dt.id.isin(['20154826044849-501', '20155313065344-641', '20151624101641-279'])][['id', 'tp', 'x', 'y']]

In [86]:
weekendcamper

                       id tp      x      y
16202  20155313065344-641  1 -67.78  21.97
16952  20151624101641-279  3 -61.92  29.72
18586  20152610112615-740  1 -66.23   7.44

In [87]:
weekendcamper = weekendcamper.reindex([18586, 16202, 16952])

In [88]:
weekendcamper['lbl'] = ["A", "B", "C"]
weekendcamper['lx'] = weekendcamper['x'] - 7
weekendcamper['ly'] = weekendcamper['y']
weekendcamper.to_json(orient = "records")

'[{"id":"20152610112615-740","tp":"1","x":-66.23,"y":7.44,"lbl":"A","lx":-73.23,"ly":7.44},{"id":"20155313065344-641","tp":"1","x":-67.78,"y":21.97,"lbl":"B","lx":-74.78,"ly":21.97},{"id":"20151624101641-279","tp":"3","x":-61.92,"y":29.72,"lbl":"C","lx":-68.92,"ly":29.72}]'

In [26]:
dt = pd.read_json("dtlite.json")

In [27]:
dt_g = dt.groupby(["i", "v"])['g'].apply(list).to_dict()
dt_t = dt.groupby(["i", "v"])['t'].apply(list).to_dict()

dt_dict = {}

for (i, v) in dt_g.keys():
#     dt_dict[i + '-' + str(v)] = {"g": dt_g[(i, v)], "t": dt_t[(i, v)]}
    dt_dict[i+ '-' + str(v)] = [{"g": g, "t": t} for g, t in zip(dt_g[(i, v)], dt_t[(i, v)])]

In [28]:
with open("dt_dict.json", "w") as f:
    f.writelines(json.dumps(dt_dict))

In [14]:
dt_time = dt.groupby(["i", "v"]).head(1).reset_index()

In [21]:
dt_time_dict = {}
for i in range(dt_time.shape[0]):
    if dt_time["i"][i] not in dt_time_dict:
        dt_time_dict[dt_time["i"][i]] = list()
    dt_time_dict[dt_time["i"][i]].append({"v": str(dt_time["v"][i]), "t": dt_time["t"][i]})

In [23]:
with open("dt_time_dict.json", "w") as f:
    f.writelines(json.dumps(dt_time_dict))